<div class="mx-auto bg-dark"  >

    <div class="jumbotron container col-md-6 mt-5">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom Filiere</th>
            <th scope="col">Nom Etablisement</th>
            <th scope="col">Niveau</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let a of etablissementsService.listFiliere; let i = index">
            <th scope="row">{{i+1}}</th>
            <td><a [routerLink]="['/affichagechoix',{choix:a.nom_filier}]" >{{a.nom_filier}}</a></td>
            <td>{{a.nomEtablissement}}</td>
            <td>{{a.niveau}}</td>
          </tr>
        </tbody>
      </table>

          </div></div>


<router-outlet></router-outlet>
