<div class="mx-auto bg-dark"  >

    <div class="jumbotron container col-md-6 mt-5">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom Filiere</th>
            <th scope="col">Nom Etablisement</th>
            <th scope="col">Niveau</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="">Devolepment Informatique</a></td>
            <td>Lalla aicha</td>
            <td>Technicien specialisé</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a routerLink="/affichagechoix" href="">Commerce</a></td>
            <td>Lalla aicha</td>
            <td>Technicien specialisé</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="">Gestion</a></td>
            <td>the Bird</td>
            <td>Technicien specialisé</td>
          </tr>
          <tr>
              <th scope="row">3</th>
              <td><a href="">Infographie</a></td>
              <td>ISAG</td>
              <td>Technicien specialisé</td>
            </tr>
        </tbody>
      </table>
      
      
          </div></div>


<router-outlet></router-outlet>