<div class="mx-auto bg-dark"  >
  <div class="mt-5">
    <div class="jumbotron container col-md-6 mt-5">
        <h5><label>Veuillez choisir une Etablisement :</label></h5>

        <select class="form-control" [(ngModel)]="Nometabl">
            <option *ngFor="let a of etablissementsService.listetablis" > {{a.nomEtablissement}}</option>
          </select>
          <div class="mt-5 ml-5">
            <input [routerLink]="['/choixfiliere',{choix:Nometabl}]" type="button" value="Suivant" class="btn btn-primary">
           </div>
          </div></div>
</div>

<router-outlet></router-outlet>
