<div class="container mt-5 " style="color:white">
    <div class="media">
        <img class="align-self-start mr-3" src="assets/img/etablissement1.png" alt="Generic placeholder image" width="300">
        <div class="media-body">
          <div class="alert alert-light mt-3" role="alert" style="width:90%;">
              <h6><span style="font-size:20px; font-style:italic;"> {{filiere}} :</span><br><br>
                <div class="ml-5 "> <div class="ml-5 "> {{filiere | getDescription:etablissementsService.listfiliere}}.</div></div></h6>  <p></p>
              </div>
        </div>
      </div>



        <table class="table table-bordered bg-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom Module1:</th>
                <th scope="col">Nombre d'heure</th>
                <th scope="col">Lien</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of etablissementsService.listModule; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{a.NomModule}}</td>
                <td>{{a.NombreHeure}}</td>
                <td><a routerLink="/forum/modUle/mod1" href="#">Forum</a></td>
              </tr>

            </tbody>
          </table>
</div>
<router-outlet></router-outlet>
