<div  class="container ">
<div class="row mt-4 ml-5">

  <a href="#" class="spacer">
<div class="ml-3 ">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Devolepement informatique</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
 </div>
</a>

 <a href="#" class="spacer">
<div class="ml-3">
<div class="card border-secondary  mb-3" style="max-width: 18rem;">
  <div class="card-header">Commerce</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</a>


<a href="#" class="spacer">
<div class="ml-3">

<div class="card border-secondary  mb-3" style="max-width: 18rem;">
    <div class="card-header">Gestion</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div></div>
</a>





    <a href="#" class="spacer">
    <div class="ml-3">
        <div class="card border-secondary  mb-3" style="max-width: 18rem;">
            <div class="card-header">infographie</div>
            <div class="card-body text-primary">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
            </div>
          </a>

            <a href="#" class="spacer">
<div class="ml-3">
    <div class="card border-secondary  mb-3" style="max-width: 18rem;">
      <div class="card-header">Devolepement multimedia</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    </div></a>

<a  routerLink="/forum/modUle" href="" class="spacer">
    <div class="ml-3">
    <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Reseau informatique</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the
            card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    </a>

    </div>
    </div>
    <router-outlet ></router-outlet>
