
<!-- <table class="table" style="width: 60%; margin-left: 25%;">
    <thead class="bg-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">CIN</th>
        <th scope="col">Date De Naissance</th>
        <th scope="col">Adresse</th>
      </tr>
    </thead>
    <tbody class="bg-light">
      <tr *ngFor="let item of servicegerant.Formateurs"   >
        <td>{{item.cin_Formateur}}</td>
        <td>{{item.nom}}</td>
        <td>{{item.prenom}}</td>
        <td>{{item.date_Naissance | date:'dd/MM/yyyy'}}</td>
        <td>{{item.profil}}</td>
      </tr>
    </tbody>
  </table> -->