
 <div class="menuchoix container col-md-6">

  <ul class="nav nav-tabs" >
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <a routerLink="/forum/filiere" routerLinkActive="active" class="nav-link" data-toggle="pill">filiere</a>
    </li>
    <li class="nav-item">
      <a routerLink="/forum/statut" routerLinkActive="active" class="nav-link" data-toggle="pill">Statut</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active">Nouvelle!!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
  </div>

  <router-outlet></router-outlet>