<div  class="row container">
<ul class="list-group list-group-flush col-md-4 mt-5">
    <li class="list-group-item">  <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form></li>
    <li class="list-group-item">Devolopment <i class="fas fa-address-book"></i></li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
<div class=" col-md-8 mt-3 jumbotron mt-5">
<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Poser vos Qestion</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="poste">
    </div>
    <button class="btn btn-primary" style="margin-left:80%" type="submit">poste</button>
   
  </form> 
<div class="container  ">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Jean</h1>
      <p class="lead">J'ai pas compris le chapitre 2 du algo qeulqun me donner <br> une idée sur ce chapitre est merci.</p>
    </div>
   
  </div>

    <div class="card mt-4">

     
<hr>



        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
              <div class="d-flex w-100 justify-content-between">
                <img src="/assets/img/icon3.png" class="rounded-circle" alt="" srcset="" width="70" height="60">
                <h5 class="mb-1">Michel45</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">L’algorithmique est un terme d’origine arabe, comme algèbre, amiral ou zénith. Ce n’est pas une excuse pour massacrer son orthographe, ou sa prononciation.
                  Ainsi, l’algo n’est pas « rythmique », à la différence du bon rock’n roll. L’algo n’est pas non plus « l’agglo ».
                  Alors, ne confondez pas l’algorithmique avec l’agglo rythmique, qui consiste à poser des parpaings en cadence.</p>
              <small>Donec id elit non mi porta.</small>
            </a> </div>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                  <img src="/assets/img/icon3.png" class="rounded-circle" alt="" srcset="" width="70" height="60">
                <h5 class="mb-1">Dominique</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Un algorithme, c’est une suite d’instructions, qui une fois exécutée correctement, conduit à un résultat donné. Si l’algorithme est juste, le résultat est le résultat voulu, et le touriste se retrouve là où il voulait aller. Si l’algorithme est faux, le résultat est, disons,
                 aléatoire, et décidément, cette saloperie de répondeur ne veut rien savoir.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a> </div>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                  <img src="/assets/img/icon3.png" class="rounded-circle" alt="" srcset="" width="70" height="60">
                <h5 class="mb-1">David412</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">n algorithme doit donc contenir uniquement des instructions compréhensibles par celui qui devra l’exécuter. C’est d’ailleurs l’un des points délicats pour les rédacteurs de modes d’emploi.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a> </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Commentaire</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
          </div>



<div class="mx-auto container ml-5">
    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div></div>