<div  class="row container">
<ul class="list-group list-group-flush col-md-4 mt-5">
    <li class="list-group-item">  <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form></li>
    <li class="list-group-item"></li>

  </ul>
<div class=" col-md-8 mt-3 jumbotron mt-5">
<form name="form1" class="Statut-form" #StatutForm="ngForm" (ngSubmit)="onSubmit(StatutForm)" >
    <div class="form-group">
   <label for="formGroupExampleInput2">Cin d'Utilisateur:</label>
        <input name="Cin" #Cin="ngModel" [(ngModel)]= "Discusion.Cin" type="text" class="form-control col-md-4" id="formGroupExampleInput2" placeholder="Sujet" required> 
        <label >Sujet:</label>
        <input name="Sujet" #Sujet="ngModel" [(ngModel)]= "Discusion.Sujet" type="text" class="form-control col-md-4"  placeholder="Sujet" required>
      <label >Poser vos Qestion</label>
      <input name="Contenu" #Contenu="ngModel" [(ngModel)]= "Discusion.Contenu" type="text" class="form-control"  placeholder="poste" required>
    </div>
    <button [disabled]="!StatutForm.valid" class="btn btn-primary" style="margin-left:80%" type="submit">poste</button>
   
  </form> 
  
<div class="container  " >
<div class="jumbotron jumbotron-fluid">
    <div class="container" *ngFor="let a of DiscusionService.listDiscusion
     | paginate :{ itemsPerPage:5,currentPage :p}">
      <h1 class="display-4">Jean</h1>
      <p   class="lead">{{a.contenu}}</p>
      <small  >{{a.sujet}}</small>
      
      <div class="list-group">

          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">

            <div  class="d-flex w-100 justify-content-between">
              <img src="/assets/img/icon3.png" class="rounded-circle" 
              alt="" srcset="" width="70" height="60">
              <h5 class="mb-1">Michel45</h5>
              <small>3 days ago</small>
            </div>

            <small class="mb-1"></small>
          </a> </div>
          <form class="user-form" #CommentForm="ngForm" (ngSubmit)="postcomment(CommentForm)">
            <div class="form-row">
          
             <div class="form-group col-md-6">
                    <input class="form-control" name="Cin" #Cin="ngModel" [(ngModel)]= "Comment.Cin" placeholder="UserName" required>
                   </div>
          
               <div class="form-group col-md-6">
                <input class="form-control" name="Coment" #Coment="ngModel" [(ngModel)]= "Comment.Coment" placeholder="Password" required>
               </div>
          
          
            </div>
           <div class="form-group">
              <input class="form-control" name="Date" #Date="ngModel" [(ngModel)]= "Comment.Date" placeholder="nom" required>
            </div>
           
         <div class="form-row">
                    <div class="form-group col-md-6">
                   <button [disabled]="!CommentForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-arrow-down"></i>Register</button>
                    </div>
          
          
                    <div class="form-group col-md-6">
                      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)='resetcomment(CommentForm)'>
                          <i style="color:white" class="fa fa-redo-alt"></i>reset</button>
                     </div>
          
                    </div>
            </form>
        </div>
    </div>
   
  </div>

    <div class="card mt-4">

     
<hr>



      
<pagination-controls (pageChange)="p =$event"></pagination-controls>
         



</div>