<form #fo="ngForm" (ngSubmit)="onSubmit(fo)">
    <div  class="groupID card mb-5 mt-4 bg-white" >
      <h4 align="center" class="text-success">
        <i class="fa fa-user-plus"></i>&nbsp; Ajouter un Stagiaire</h4>
      <hr>
      <table>
        <tr>
          <th><label>Nom : <span *ngIf="myNom.errors?.required && myNom.touched" 
            style="color: crimson">*</span>
            <span *ngIf="myNom.errors?.minlength && myNom.touched" 
            style="color: crimson">3 characters min</span></label></th>
  
          <th><label>Prénom : <span *ngIf="myPrenom.errors?.required && myPrenom.touched" 
              style="color: crimson">*</span>
              <span *ngIf="myPrenom.errors?.minlength && myPrenom.touched" 
              style="color: crimson">3 characters min</span></label></th>
  
          <th><label>Date de Naissance : <span *ngIf="myDate.errors?.required && myDate.touched" 
            style="color: crimson">*</span></label></th>
        </tr>
  
        <tr>
          <td><input type="text" required #myNom="ngModel" name="Nom" minlength="3" style="width:80%;"
            [(ngModel)]="Stagiaire.Nom" class="form-control" placeholder="Nom..." ></td>
          <td><input type="text" required #myPrenom="ngModel" name="Prenom" minlength="3" style="width:80%;"
            [(ngModel)]="Stagiaire.Prenom" class="form-control" placeholder="Prenom..."></td> 
          <td><input type="date" required #myDate="ngModel" name="DateNaiss" style="width:80%;"
            [(ngModel)]="Stagiaire.DateNaiss" class="form-control"></td>
        </tr><br>
  
        <tr>
          <th><label>Adresse : <span *ngIf="myAdresse.errors?.required && myAdresse.touched" 
            style="color: crimson">*</span></label></th>
        </tr>

        <tr>
          <td colspan="2">
              <input type="text" required #myAdresse="ngModel" name="Adresse" style="width:80%;"
              [(ngModel)]="Stagiaire.Adresse" class="form-control" placeholder="Adresse...">
          </td>
        </tr><br>

        <tr>
          <th><label>CIN : <span *ngIf="myCin.errors?.required && myCin.touched" 
            style="color: crimson">*</span>
            <span *ngIf="myCin.errors?.minlength && myCin.touched" 
            style="color: crimson">6 characters min</span></label></th>
  
          <th><label>Groupe : <span *ngIf="myGroup.errors?.required && myGroup.touched" 
              style="color: crimson">*</span></label></th>
        </tr>
  
        <tr>
          <td><input type="text" required #myCin="ngModel" name="CinStagaire" minlength="6" style="width:80%;"
            [(ngModel)]="Stagiaire.CinStagaire" class="form-control" placeholder="Numero CIN..."></td>
          <td>
            <select style="width:80%;" class="form-control" #myGroup="ngModel" 
              [(ngModel)]="Stagiaire.GroupID" name="GroupID" required>
              <option hidden>Groupe...</option>
              <option *ngFor="let i of serviceGerant.group">{{i.GroupID}}</option>
            </select>
          </td>
        </tr>
  
        <tr>
          <td colspan="3"><hr></td>
        </tr>
  
        <tr>
            <td><button [disabled]="!fo.valid" style="float: left;"
              class="btn btn-success" type="submit">Ajouter</button></td>
            <td><button style="float: left;" class="btn btn-primary" type="reset">Reset</button></td>
        </tr>
      </table>
    </div>
</form>