<div  class="groupID card mb-5 mt-4 bg-white" >
    <h4 align="center" class="text-success"><i class="fa fa-user-plus"></i>&nbsp; Ajouter un Formateur </h4>
     <hr>
      <table  >
        <tr>
          <th><label for="nom">Nom :</label> </th><th><label for="prenom">Prénom :</label> </th><th><label for="datenaiss">Date de Naissance :</label> </th>
        </tr>
        <tr>
          <td><input style="width:60%;" id="nom" name="nom" type="text"class="form-control" placeholder="Enter le Nom"></td> 
          <td><input type="text" id="prenom" name="prenom" style="width:60%;" class="form-control" placeholder="Enter le Prenom"></td> 
          <td><input type="date" id="datenaiss" name="datenaiss" class="form-control" ></td>
        </tr>
        <tr>
          <th><label for="adresse">Adresse :</label></th> 
        </tr>
        <tr><td><input type="text" class="form-control"style="width:150%" placeholder="Enter Votre adresse ...correct" id="adresse" name="adresse"></td></tr>
        <tr><th><label for="cin">CIN :</label></th><th><label for="sexe" class="ml-5">Sexe : </label></th><th><label for="filiere">Profile Professionel :</label></th></tr>
        <tr><td><input type="text"  id="cin" name="cin" class="form-control" placeholder="Entrer Votre CIN"></td>
          <td><select name="sexe"  style="width:50%;" class="form-control ml-5" id="sexe">
            <option value="pardefault">Sexe</option>
          <option value="Femme">Femme</option>
          <option value="Homme" >Homme</option>
        </select></td><td><select class="form-control" name="filiere" id="filiere">
          <option value="profil">Filiére</option>
        <option value="kflsjfkls">jfksdljfk</option></select></td>
      </tr>
        

      <tr><td colspan="3"><hr></td></tr>
        <tr><td colspan="2" ><button style="float: right;" class="btn btn-success">Ajouter</button></td><td><button class="btn btn-primary">Reset</button></td></tr>
      </table>
  
  </div>