<div class="jumbotron container col-md-4 mt-4">
    
        <h4>Entrer vos Information</h4><br>
        
        <div class="input-group  container"> 
         
          <br>
            <input type="text" class="form-control" placeholder="User name email" 
            aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
            </div>
          
    
          <div class="input-group mt-1">
              <input type="text" class="form-control" placeholder="Email" 
              aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                
                
              </div>
            </div>
    
            <div class="input-group mt-1">
                <input type="text" class="form-control" placeholder="date naissance" 
                aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                 
                  
                </div>
              </div>
    
    
              <div class="input-group mt-1">
                  <input type="text" class="form-control" placeholder="numero" 
                  aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                   
                    
                  </div>
                </div> </div>
        <hr class="my-4">
        <div class="container">
        <div class="row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input ml-2" id="customCheck1">
                <label class="custom-control-label ml-2" for="customCheck1"><span class="badge badge-success">
                  Formateur</span></label>
              </div>

               <div class="custom-control custom-checkbox ml-2">
                <input type="checkbox" class="custom-control-input ml-2" id="customCheck2">
                <label class="custom-control-label ml-2" for="customCheck2"><span class="badge badge-danger">
                  Stagaire</span></label>
              </div>
    </div></div>
        <div class="container">
        <p>vous reçevez un message sur vos email pour verifier vos compte.</p>
        <a routerLink="/conexion" class="btn btn-primary btn-lg " href="#" role="button">Valider</a>
      </div>
      </div>
    






<router-outlet></router-outlet>
