


<form class="user-form container mt-2" #UtilisateurForm="ngForm" (ngSubmit)="onSubmit(UtilisateurForm)">
        <div class="form-row">
           
         <div class="form-group col-md-6">
                <input class="form-control" name="Cin_Utilisateur" #Cin="ngModel" [(ngModel)]="UtilisateurService.selectedUtilisateur.Cin_Utilisateur" placeholder="cin" required>
               </div>
        
           <div class="form-group col-md-6">
            <input class="form-control" name="email" #email="ngModel" [(ngModel)]="UtilisateurService.selectedUtilisateur.email" placeholder="email" required>
           </div>


        </div>
        <div class="form-group">
            <input class="form-control" name="Password" #Password="ngModel" [(ngModel)]="UtilisateurService.selectedUtilisateur.Password" placeholder="Password" required>
            
           </div>


           
           <div class="form-group col-md-6">
                <input class="form-control" name="pseudo" #pseudo="ngModel" [(ngModel)]="UtilisateurService.selectedUtilisateur.pseudo" placeholder="pseudo" required>
               </div>


               <div class="form-group col-md-6">
                    <input class="form-control" name="Qestion" #Qestion="ngModel" [(ngModel)]="UtilisateurService.selectedUtilisateur.Qestion" placeholder="Qestion" required>
                   </div>


                   <div class="form-group col-md-6">
                        <input class="form-control" name="Reponse" #Reponse="ngModel" [(ngModel)]="UtilisateurService.selectedUtilisateur.Reponse" placeholder="Reponse" required>
                       </div>
            


               <div class="form-row">
                <div class="form-group col-md-6">
               <button [disabled]="!UtilisateurForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-arrow-down"></i>Register</button>
                </div>


                <div class="form-group col-md-6">
                  <button type="button" class="btn btn-lg btn-block btn-secondary" (click)='resetForm(UtilisateurForm)'>
                      <i style="color:white" class="fa fa-redo-alt"></i>reset</button>
                 </div>
                
                </div>
        </form>               






<router-outlet></router-outlet>
