.circle
{
    
    width:30%;
    height:30%;
    margin-left: -14%;
    margin-top: -10%;
    

}
.mar
{
    margin-top: 4%;
}
.roundedcircle
{
    margin-left: -14%;
    margin-top: -18%;
}
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }